* {
    box-sizing: border-box;
}

#formBorder {
    width: 55%;
    border-color: blue;
    margin-top: 20px;
    margin-left: 20px;
}

#pageHeading {
    margin-left: 20px;
}

#address1-name, #address2-name, #check {
    margin-left: 20px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

output[type=text] {
    width: 100%;
    margin-top: 100px;
    padding: 15px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: #1229aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type=reset] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-15 {
    float: left;
    width: 20%;
    margin-top: 6px;
    margin-left: 20px;
}

.col-70 {
    float: right;
    width: 70%;
    margin-top: 6px;
    margin-right: 20px;
}

#shipping-city, #billing-city {
    float: left;
    width: 32%;
}

#shipping-state, #billing-state {
    width: 32%;
}

#shipping-zip, #billing-zip {
    float: right;
    width: 32%;
}

.col-output {
    float: right;
    width: 70%;
    margin-top: 15px;
    margin-right: 20px;;
}

.same-address {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 75%;
    color: gray;
}

/* Clear floats after the columns */
.row:after, .city-state-zip-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-15, .col-70, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}